
#board-game {
  
  display: flex;
  flex-direction: column;

  div{
    width: 20px; 
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50px;
  }

  canvas {
    height: 200px; 
    width: 600px;
    background-color: #134959;


  }
}
