#board-container {
    display: flex;
    justify-content: center;

  .board-game {
    
    display: flex;
    align-items: center;

    canvas {
      height: 200px; 
      width: 600px;
      background-color: #134959;


    }
  }
}
