#panel {
  display: flex;
  //border: solid blue;
    height: 60vh;
    margin: 15vh 10vw;


    .active-player {
      display: flex;
      flex-direction: column;
      //color: red;
      justify-content: space-between;
      margin: 16px 0px 20px;

      div {
        display: flex;
        flex-direction: column;
        width: 80px;
        justify-content: center;
        align-items: center;
        height: 65px;
        color: white;
        background-color: map-get($colors, P1);
      }
    }

  #score-board {
    display: flex;
    flex-direction: column;
    border: solid purple;
    width: 70vw;
    height: 60vh;
    //border: solid 1px red;

    .scoreP1 {
      display: flex;
      justify-content: center;
      margin: 15px 0px; 
    }

    .scoreP2 {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
    }

    .board-game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid red;
        width: 650px; 
        height: 200px;
        background-color: map-get($colors, board);

        #ball {
          width: 30px; 
          height: 30px;
          background-color: red;
          position: absolute;
          border-radius: 50%;
          animation-name: roll;
          animation-duration: 1s;
          margin-left: 500px;
        }

        @keyframes roll {
          0% { left: 185px; top: 285px;}
          100% { left: -200px; top: 285px;}
        }
    }
  }
  .container-button-play {
    display: flex;
    flex: column;
    margin-right: 100px;
    align-items: center;

    .button-play {
      height: 10vh;
      width: 10vw;
      background-color: map-get($colors, P1);
      color: white;
      
    }

  }

}
