.pines {
  display: flex;
  align-items: center;
  position: absolute;
  
  .four {
    display: flex;
    flex-direction: column;
    border-radius: 50px;

    div {
      width: 20px; 
      height: 20px;
      background-color: black;
      margin: 5px;
      border-radius: 50px;
    }
  }
  .three {
    display: flex;
    flex-direction: column;
    border-radius: 50px;

    div {
      width: 20px; 
      height: 20px;
      background-color: black;
      margin: 5px;
      border-radius: 50px;
    }
  }
  .two {
    display: flex;
    flex-direction: column;
    border-radius: 50px;

    div {
      width: 20px; 
      height: 20px;
      background-color: black;
      margin: 5px;
      border-radius: 50px;
    }
  }
  .one {
    display: flex;
    flex-direction: column;
    border-radius: 50px;

    div {
      width: 20px; 
      height: 20px;
      background-color: black;
      margin: 5px;
      border-radius: 50px;
    }
  }

}
