.pines {
  display: flex;
  align-items: center;
  position: absolute;
  
  .order {
    display: flex;
    flex-direction: column;
    border-radius: 50px;

    div[show=submit] {
      background-color: map-get($colors, board);
    }

    div {
      width: 20px; 
      height: 20px;
      background-color: white;
      margin: 5px;
      border-radius: 50px;
    }
  }
}
