.welcome {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 42vh;
  margin-left: 42vw;
  width: 14vw;

  p{
    font-size: 1.5rem;
  }
  
  button {
    background-color: map-get($colors, principalButton);
    color: white;
    border-radius: 15px;
    padding: .6rem;
  }

}
